@font-face {
    font-family: 'Font';
    src: url(./font/FuturaNowHeadline.ttf);
}

* {
    font-family: 'Font';
    font-size: 1em;
    font-weight: 100;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-sizing: 0;
    list-style: none;
    color: black;

}

body {
    header {
        width: 100vw;
        border-bottom: 1px solid rgba(95, 95, 95, 0.103);
        background-color: rgba(0, 0, 0, 0.082);
        padding-top: 1%;

        & h1 {
            color: black;
            font-size: 3em;
            font-weight: bold;
            margin-left: 45%;
            padding-bottom: 1%;
        }

        & .icone {
            width: 50px;
            height: 50px;
            margin: 0;
            padding: 0;
            position: absolute;
            margin-top: -3.8%;
        }

        & .icone:hover {
            width: 52px;
            height: 52px;
        }

        & a {
            margin: 0;
            padding: 0;
            position: absolute;
            margin-left: 93%;
            margin-top: -2.8%;
        }

        & a:hover {
            border-bottom: 1px solid rgba(95, 95, 95, 0.103);
        }

        & .login {
            margin-left: 83.5%;
        }

    }
/* MENU BAR
    & .menuBar {
        padding: 22% 15%;
        background-color: rgba(0, 0, 0, 0.438);
        position: absolute;
        z-index: 100;
        display: grid;

        & .itens {
            grid-column: inherit;
            position: absolute;
            margin-top: -28%;
        }

        & a {
            margin-bottom: 10%;
            color: aliceblue;
            font-size: 1.6em;
            margin-left: -40%;

         
        }
    }
*/


    & .conteiner {
        padding: 300px;
        width: 100vw;
        height: 55%;
        background-color: rgba(0, 0, 0, 0.158);
        margin-top: 2%;
        border: 1px solid rgba(95, 95, 95, 0.103);

        & .icone:hover {
            width: 52px;
            height: 52px;
        }

        & .grupo {
            margin-left: 10%;

            & .img.active {
                & img {
                    width: 260px;
                    height: 510px;
                    transition: 0.3s;
                }

                & a {
                    font-size: 1.25em;
                    transition: 0.3s;
                    color: rgb(177, 112, 33);
                }
            }

            & .img {
                & a {
                    z-index: 10;
                    position: absolute;
                    margin-top: 14%;
                    margin-left: 3.3%;
                    font-size: 1.2em;
                    padding-left: 7px;
                    padding-right: 7px;
                    border-bottom: 1px solid beige;
                    border-radius: 15%;
                    color: rgb(104, 85, 61);
                }

                & a:hover {
                    font-size: 1.25em;
                    transition: 0.3s;
                    color: rgb(177, 112, 33);
                }

                display: flex;
                /* Habilita o flexbox */
                gap: 20px;

                & img {
                    position: absolute;
                    object-fit: cover;
                    width: 250px;
                    height: 500px;
                    border-radius: 40px;
                    margin-top: -13%;
                }

                & img:hover {
                    width: 265px;
                    height: 515px;
                    transition: 0.3s;
                }


            }


            & .img.a {
                margin-left: -10%;
            }

            & .img.b {
                margin-left: 10%;
            }

            & .img.c {
                margin-left: 30%;
            }

            & .img.d {
                margin-left: 50%;
            }

        }




    }
}

/* header icones*/
#menu {
    margin-left: 2%;
}

#user {
    margin-left: 80%;
    width: 60px;
    height: 60px;
}

#alerta {
    margin-left: 90%;
}

& #user:hover {
    width: 62px;
    height: 62px;
}

/* fim header icones*/

/*setas de scroll*/
#esquerda {
    position: absolute;
    margin-left: -10%;
}

#direita {
    position: absolute;
    margin-left: 77%;
    transform: rotate(180deg);
}

/*fim das setas de scroll*/

@keyframes loading {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

body {
    animation: loading 2s ease-in-out;
}